<%= form_with(model: posts1, local: true) do |form| %>
  <% if posts1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(posts1.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% posts1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field(:title, id: :posts1_title, :class => 'form-control') %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area(:body, id: :posts1_body, :class => 'form-control') %>
  </div>

  <div class="actions">
    <%= form.submit(:class => 'btn btn-success', :value => "Create") %>
  </div>
<% end %>
