<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<tbody>
  <% @posts1s.each do |posts1| %>

  <div class = "alert alert-light">
    <h3><%= posts1.title %></h3>
    <p> <%= posts1.body %></p>
    <strong><p><%= posts1.user.username %></p></strong>
    <%= link_to "Read more", posts1, :class => 'btn btn-outline-primary' %>
    <% if current_user && (current_user.admin | (posts1.user.username==current_user.username)) %>
    <%= link_to 'Edit', edit_posts1_path(posts1),:class => 'btn btn-outline-primary' %>
    <%= link_to 'Delete', posts1, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-outline-primary' %>
    <% end %>
  </div>
  <% end %>
</tbody>
</table>

<br>
