<p>
  <strong>Title:</strong>
  <%= @posts1.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @posts1.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @posts1.user.username %>
</p>
<% if current_user && (current_user.admin | (@posts1.user.username==current_user.username)) %>
<%= link_to 'Edit', edit_posts1_path(@posts1), :class => 'btn btn-warning' %> |
<%= link_to 'Delete', @posts1, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %> |
<% end %>
<%= link_to 'Back', posts1s_path, :class => 'btn btn-primary' %>
<hr>

<h2>All Comments</h2>
<% @posts1.comms.each do |comm| %>
<div class = "alert alert-light">
<p><strong><%= comm.username %> </strong> : <%= comm.body %></p>
</div>
<% end %>

<hr>

<%= form_for ([@posts1, @posts1.comms.build ]) do |f| %>
<% if current_user %>
<h2>Add Comments</h2>
    <%= f.text_field :username, required: true,  class: 'form-control', value:current_user.username, readonly: true %>
		<p>
		Comment Text<br>
		<%= f.text_area(:body, {:class => 'form-control'}) %>
	</p>
		<p>
		<%= f.submit("Add Comment", {:class => 'btn btn-warning'}) %>
	</p>
<% end %>
	<% end %>
