<!DOCTYPE html>
<html>
<head>
  <title>BlogProject</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'%>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-bold"><%= link_to "KMAtter",home_path %></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <span class="p-2 text-dark rounded card-header"><%= link_to "Main Page",home_path %></span>
      <span class="p-2 text-dark rounded card-header"><%= link_to "About Us",about_path %> </span>
    </nav>
  </div>
  <section class="navbar navbar-expand-lg navbar-light bg-light">
    <% if current_user %>
    <span class="p-2 text-dark"><%= link_to "Add Post",new_posts1_path %> </span>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
    <span class="p-2 text-dark"><%= link_to 'Sign up', new_user_registration_path %> </span>
    <span class="p-2 text-dark"> <%= link_to 'Sign in', new_user_session_path %></span>
    <% end %>

  </section>
  <div class="container">
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </div>
</body>
</html>
